@charset "utf-8";
/*直接触发的动画*/
/*向下滑动*/
@-webkit-keyframes javaexFadeinDown{0%{opacity: 0; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0);} 100%{opacity: 1; -webkit-transform: none; transform: none;}}
@keyframes javaexFadeinDown{0%{opacity: 0; -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0);} 100%{opacity: 1; -webkit-transform: none; transform: none;}}
.javaex-animated-fadein-down{-webkit-animation-name: javaexFadeinDown; animation-name: javaexFadeinDown; -webkit-animation-duration: .3s;animation-duration: .3s;}

/*左右摇晃*/
@-webkit-keyframes javaexShake{0%, 100%{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} 10%, 30%, 50%, 70%, 90%{-webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0);} 20%, 40%, 60%, 80%{-webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0);}}
@keyframes javaexShake{0%, 100%{-webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);} 10%, 30%, 50%, 70%, 90%{-webkit-transform: translate3d(-10px, 0, 0); transform: translate3d(-10px, 0, 0);} 20%, 40%, 60%, 80%{-webkit-transform: translate3d(10px, 0, 0); transform: translate3d(10px, 0, 0);}}
.javaex-animated-shake{-webkit-animation-name: javaexShake; animation-name: javaexShake; -webkit-animation-duration: .8s;animation-duration: .8s;}

/*弹跳*/
@-webkit-keyframes javaexBounce{0%,20%,53%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translateZ(0);transform:translateZ(0)}40%,43%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}40%,43%,70%{-webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);animation-timing-function:cubic-bezier(.755,.05,.855,.06)}70%{-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}
@keyframes javaexBounce{0%,20%,53%,80%,to{-webkit-animation-timing-function:cubic-bezier(.215,.61,.355,1);animation-timing-function:cubic-bezier(.215,.61,.355,1);-webkit-transform:translateZ(0);transform:translateZ(0)}40%,43%{-webkit-transform:translate3d(0,-30px,0);transform:translate3d(0,-30px,0)}40%,43%,70%{-webkit-animation-timing-function:cubic-bezier(.755,.05,.855,.06);animation-timing-function:cubic-bezier(.755,.05,.855,.06)}70%{-webkit-transform:translate3d(0,-15px,0);transform:translate3d(0,-15px,0)}90%{-webkit-transform:translate3d(0,-4px,0);transform:translate3d(0,-4px,0)}}
.javaex-animated-bounce{-webkit-animation-name:javaexBounce;animation-name:javaexBounce;-webkit-transform-origin:center bottom;transform-origin:center bottom; -webkit-animation-duration: .8s;animation-duration: .8s;}

/*跳动*/
@-webkit-keyframes javaexPulse{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}
@keyframes javaexPulse{0%{-webkit-transform:scaleX(1);transform:scaleX(1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05);transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scaleX(1);transform:scaleX(1)}}
.javaex-animated-pulse{-webkit-animation-name:javaexPulse;animation-name:javaexPulse; -webkit-animation-duration: .3s;animation-duration: .3s;}

/*左侧飞入*/
@-webkit-keyframes javaexFadeinLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes javaexFadeinLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.javaex-animated-fadein-left{-webkit-animation-name:javaexFadeinLeft;animation-name:javaexFadeinLeft; -webkit-animation-duration: .4s;animation-duration: .4s;}

/*右侧飞入*/
@-webkit-keyframes javaexFadeinRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes javaexFadeinRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}to{opacity:1;-webkit-transform:none;transform:none}}
.javaex-animated-fadein-right{-webkit-animation-name:javaexFadeinRight;animation-name:javaexFadeinRight; -webkit-animation-duration: .4s;animation-duration: .4s;}

/*向上滑动*/
@-webkit-keyframes javaexFadeinUp{0%{transform: translate3d(0,20px,0);opacity: 1;}100%{transform: translate3d(0,0,0);opacity: 1;}}
@keyframes javaexFadeinUp{0%{transform: translate3d(0,20px,0);opacity: 1;}100%{transform: translate3d(0,0,0);opacity: 1;}}
.javaex-animated-fadein-up{-webkit-animation-name:javaexFadeinUp;animation-name:javaexFadeinUp; -webkit-animation-duration: .8s;animation-duration: .8s;}

/*向下滑动*/
@-webkit-keyframes javaexFadeinDown{0%{transform: translate3d(0,-20px,0);opacity: 1;}100%{transform: translate3d(0,0,0);opacity: 1;}}
@keyframes javaexFadeinDown{0%{transform: translate3d(0,-20px,0);opacity: 1;}100%{transform: translate3d(0,0,0);opacity: 1;}}
.javaex-animated-fadein-down{-webkit-animation-name:javaexFadeinDown;animation-name:javaexFadeinDown; -webkit-animation-duration: .8s;animation-duration: .8s;}


/**鼠标移入时触发的动画*/
/*跳动*/
.javaex-hover-pulse:hover{transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out; -o-transition: all .25s ease-in-out; -ms-transition: all .25s ease-in-out;-webkit-transform: scale(1.05); -ms-transform: scale(1.05); transform: scale(1.05);}
/*向上滑动*/
.javaex-hover-fadein-up:hover{box-shadow:0 6px 15px rgba(0,0,0,.1)!important;transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; -ms-transition: all .3s;-webkit-transform:translateY(-5px);-ms-transform: translateY(-5px);transform:translateY(-5px)}
/*向右滑动*/
.javaex-hover-fadein-right:hover{box-shadow:0 6px 15px rgba(0,0,0,.1)!important;transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; -ms-transition: all .3s;-webkit-transform:translateX(5px);-ms-transform: translateX(5px);transform:translateX(5px)}
/*向下滑动*/
.javaex-hover-fadein-down:hover{box-shadow:0 6px 15px rgba(0,0,0,.1)!important;transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; -ms-transition: all .3s;-webkit-transform:translateY(5px);-ms-transform: translateY(5px);transform:translateY(5px)}
/*向左滑动*/
.javaex-hover-fadein-left:hover{box-shadow:0 6px 15px rgba(0,0,0,.1)!important;transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -o-transition: all .3s; -ms-transition: all .3s;-webkit-transform:translateX(-5px);-ms-transform: translateX(-5px);transform:translateX(-5px)}


/*系统内置组件的依赖动画*/
/** 加载 */
@-webkit-keyframes javaexLoading{0%{-webkit-transform:rotate3d(0,0,1,0deg);transform:rotate3d(0,0,1,0deg);}100%{-webkit-transform:rotate3d(0,0,1,360deg);transform:rotate3d(0,0,1,360deg);}}
@keyframes javaexLoading{0%{transform:rotate3d(0,0,1,0deg);}100%{transform:rotate3d(0,0,1,360deg);}}

/*表单错误提示*/
@-webkit-keyframes javaexFormErrorTip{0%{-webkit-transform:translateY(-5px);opacity:0;}to{-webkit-transform:translateY(0);opacity:1;}}
@keyframes javaexFormErrorTip{0%{transform:translateY(-5px);opacity:0;}to{transform:translateY(0);opacity:1;}}
.javaexFormErrorTip{-webkit-animation-name: javaexFormErrorTip; animation-name: javaexFormErrorTip; -webkit-animation-duration: .4s;animation-duration: .4s;}

/*复选框选中动画*/
@-webkit-keyframes javaexCheckboxEffect{0%{-webkit-transform:scale(1);transform:scale(1);opacity:.5;}to{-webkit-transform:scale(1.6);transform:scale(1.6);opacity:0;}}
@keyframes javaexCheckboxEffect{0%{-webkit-transform:scale(1);transform:scale(1);opacity:.5;}to{-webkit-transform:scale(1.6);transform:scale(1.6);opacity:0;}}

/*缩放淡入 */
@-webkit-keyframes javaexZoomIn{0%{-webkit-transform: scale(0.2);transform: scale(0.2);opacity: 0;}100%{-webkit-transform: scale(1);transform: scale(1);-webkit-transition-timing-function:ease-in;opacity: 1;}}
@keyframes javaexZoomIn{0%{transform: scale(0.2);opacity: 0;}100%{ transform: scale(1);opacity: 1;}}
.javaex-animated-zoom-in{-webkit-animation-name:javaexZoomIn;-webkit-animation-duration: .4s;animation-name:javaexZoomIn;animation-duration: .4s;}
/*缩放淡出 */
@-webkit-keyframes javaexZoomOut{0%{-webkit-transform: scale(1);transform: scale(1);opacity: 1;}100%{-webkit-transform: scale(0.2);transform: scale(0.2);opacity: 0;}}
@keyframes javaexZoomOut{0%{transform: scale(1);opacity: 1;}100%{transform: scale(0.2);opacity: 0;}}
.javaex-animated-zoom-out{-webkit-animation-name:javaexZoomOut;-webkit-animation-duration: .4s;animation-name:javaexZoomOut;animation-duration: .4s;}

/*向上滑出（平滑）*/
@-webkit-keyframes javaexSlideUp{0%{-webkit-transform:scaleY(.8);transform:scaleY(.8);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:0}to{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}}
@keyframes javaexSlideUp{0%{-webkit-transform:scaleY(.8);transform:scaleY(.8);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:0}to{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:1}}
.javaex-animated-slide-up{-webkit-animation-name: javaexSlideUp; animation-name: javaexSlideUp;-webkit-animation-duration: 0.3s;animation-duration: 0.3s;}
/*向下滑出（平滑）*/
@-webkit-keyframes javaexSlideDown{0%{-webkit-transform:scaleY(.8);transform:scaleY(.8);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:0}to{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}}
@keyframes javaexSlideDown{0%{-webkit-transform:scaleY(.8);transform:scaleY(.8);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:0}to{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}}
.javaex-animated-slide-down{-webkit-animation-name: javaexSlideDown; animation-name: javaexSlideDown;-webkit-animation-duration: 0.3s;animation-duration: 0.3s;}

/**向下侧滑*/
@-webkit-keyframes javaexSideslip{0%{-webkit-transform:scale(.3);transform:scale(.3)}to{-webkit-transform:scale(1);transform:scale(1)}}
@keyframes javaexSideslip{0%{-webkit-transform:scale(.3);transform:scale(.3)}to{-webkit-transform:scale(1);transform:scale(1)}}
.javaex-animated-sideslip{-webkit-animation-name: javaexSideslip; animation-name: javaexSideslip;-webkit-animation-duration: 0.3s;animation-duration: 0.3s; -webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-webkit-animation-timing-function:linear;animation-timing-function:linear;}
